.navbar{
    a{
        text-decoration: none;
        display: block;
    }
    .dropend{
        display: block;
        &>.dropdown-toggle{
            width:100%
        }
    }
}
    .colors-nav{
        button{
            width:30px;
            height: 30px;
        }
    }
.ul{
                    list-style-type:none;
a{
                            color:#222
                        }
                ul{
                    list-style-type:none;
                    &>li{
                        
                            a{
                                color:#777
                            }
                    }
                }
}

.scroll{
    overflow: auto
}
