.card{
    width:18rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-right:30px;
    & .progress{
        width: 14rem;
        margin-left: 15px;
    }
}
