.card-product{
    width:18rem;
    height: 620px;
    & .card-title{
        height: 50px;
    }   
    & .card-text{
        height: 100px;
        overflow: hidden;
        text-overflow: "......."; 
    }
}
.modal-w{
    max-width: 1000px;
}
.size{
    width: 100px;
    height: 52px;
}
